/* h2{
    color:blue;
    border: 2px dotted red;
    padding:15px 28px 22px 14px;
    margin:220px 120px 15px 37px;
} */
 .displayInCss1{
    display:block;
    background-color: yellow;
    color: aqua;
    height:33px

 }
 .displayInCss2{
    display:block;
    background-color: red;
    color: white;
    height:33px;

 }