table{
    width:60%;
    border-collapse: collapse;
    margin: 20px auto;
}
th,td{
    border: 1px solid yellow;
    padding: 10px;
    text-align: center;
}

th{
    background-color: greenyellow;
    color: green;
}
tr:nth-child(even){
    background-color: yellow;
}
tr:nth-child(odd){
    background-color: green;
}
